<!DOCTYPE html>
html(lang="en")
    include ../partials/head.pug
    body
        include ../partials/header.pug
        h1 Hello from index pug page!
        
        a(href="/subpage/") Go to subpage
